In [1]:
print("Hello world")

Hello world

In [2]:
x = input ("Enter your name")
print(x)

Enter your nameAgha Shah Hussain
Agha Shah Hussain

In [6]:
# write a python program to print you best friend details
# Name , Age ,interest , Nationality
print ("My best friend name is Aamir ")
print ("he is 20 years old")
print("his interest is in gaming ")

My best friend name is Aamir
he is 20 years old
his interest is in gaming

In [14]:
name = input("Enter your name:")
age =input("Enter your age:")
interest = input("Enter younr Interest:")
nationality=input("Enter you nationality:")

Enter your name:Agha shah
Enter your age:21
Enter younr Interest:Sports
Enter you nationality:Pakistan

In [15]:
num = int(input("Enter a number: "))

if (num % 2) == 0:
   print(f"{num} is Even")
else:
   print(f"{num} is Odd")

Enter a number: 5
5 is Odd

In [16]:
15/4

3.75

In [17]:
15//4

3

In [18]:
def greeting():
  print ("Assalam o Alikum")

In [19]:
greeting()

Assalam o Alikum

In [20]:
def odd_even(n):
  if n% 2 ==0:
    print("Given number is even ")
  else:
    print("Given number is odd")

In [21]:
a = input ("Enter a number")
print(odd_even(int(a)))
# odd_even (19)

Enter a number34
Given number is even
None

In [36]:
def frienddetail():

  name = input("Enter your friend name:")
  age =input("Enter your friends age:")
  interest = input("Enter your friends Interest:")
  nationality=input("Enter your friends nationality:")
  print(name, age, interest, nationality)

In [35]:
frienddetail()

Enter your friend name:aamir
Enter your age:21
Enter younr Interest:Sports
Enter you nationality:Pakistan
aamir 21 Sports Pakistan

In [37]:
for i in range(0,10):
  greeting()

Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum
Assalam o Alikum

In [40]:
# print the table of given numbers

x = int (input ("Enter a number"))
for i  in range (1,11):
  print(i,"*",x,"=",i*x)

Enter a number3
1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [42]:
def is_prime(n):
    if n == 0 or n == 1:
        return 0
    else:
        for i in range(2, n):
            if n % i == 0:
                return 0
    return 1

In [43]:
x = int (input("Enter a number"))
if is_prime(x)==0:
    print ("number is not prime")
else :
    print("number is prime")

Enter a number4
not prime

In [56]:
count = 1
for i in range(400):
    if is_prime(i) == 1:
        print(count, "\t", i)
        if count >= 50:
            break
        count += 1

1 	 2
2 	 3
3 	 5
4 	 7
5 	 11
6 	 13
7 	 17
8 	 19
9 	 23
10 	 29
11 	 31
12 	 37
13 	 41
14 	 43
15 	 47
16 	 53
17 	 59
18 	 61
19 	 67
20 	 71
21 	 73
22 	 79
23 	 83
24 	 89
25 	 97
26 	 101
27 	 103
28 	 107
29 	 109
30 	 113
31 	 127
32 	 131
33 	 137
34 	 139
35 	 149
36 	 151
37 	 157
38 	 163
39 	 167
40 	 173
41 	 179
42 	 181
43 	 191
44 	 193
45 	 197
46 	 199
47 	 211
48 	 223
49 	 227
50 	 229

In [57]:
square = lambda x:x*x*x

In [58]:
for i in range (10):
  print (square(i))

0
1
8
27
64
125
216
343
512
729