In [2]:
import numpy as np

# Create NumPy array
arr = np.array([2, 4, 6, 8, 10, 12, 14, 16, 18])

# Split into 3 arrays
a1, a2, a3 = np.array_split(arr, 3)

print("Array 1:", a1)
print("Array 2:", a2)
print("Array 3:", a3)

# Calculate sum of all arrays
total_sum = np.sum(a1) + np.sum(a2) + np.sum(a3)

print("Total Sum:", total_sum)

Array 1: [2 4 6]
Array 2: [ 8 10 12]
Array 3: [14 16 18]
Total Sum: 90

In [4]:
import numpy as np

arr = np.array([1, 4, 6, 8, 12, 15, 18, 20])

# Condition
result = arr[(arr > 5) & (arr < 15)]

print("Numbers between 5 and 15:", result)

Numbers between 5 and 15: [ 6  8 12]

In [6]:
# set1 = Even numbers (0â€“10)
set1 = {0, 2, 4, 6, 8, 10}

# set2 using constructor
set2 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

print("Set1:", set1)
print("Set2:", set2)

# a) Remove second and fifth element
# Sets unordered hote hain, isliye list me convert karenge
temp = list(set2)

second_element = temp[1]
fifth_element = temp[4]

set2.remove(second_element)
set2.remove(fifth_element)

print("Updated Set2:", set2)

# b) Intersection
set3 = set1.intersection(set2)

print("Intersection (Set3):", set3)

Set1: {0, 2, 4, 6, 8, 10}
Set2: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Updated Set2: {1, 3, 4, 6, 7, 8, 9, 10}
Intersection (Set3): {8, 10, 4, 6}

In [7]:
# Create dictionary
students = {
    101: {"sapid": 101, "name": "Ali", "age": 20, "semester": "Six"},
    102: {"sapid": 102, "name": "Ahmed", "age": 21, "semester": "Six"},
    103: {"sapid": 103, "name": "Sara", "age": 22, "semester": "Six"},
    104: {"sapid": 104, "name": "Ayesha", "age": 20, "semester": "Six"},
    105: {"sapid": 105, "name": "Bilal", "age": 23, "semester": "Six"}
}

print("Before Update:")
print(students)

# Update Semester from Six to Seven
for key in students:
    students[key]["semester"] = "Seven"

print("\nAfter Update:")
print(students)

Before Update:
{101: {'sapid': 101, 'name': 'Ali', 'age': 20, 'semester': 'Six'}, 102: {'sapid': 102, 'name': 'Ahmed', 'age': 21, 'semester': 'Six'}, 103: {'sapid': 103, 'name': 'Sara', 'age': 22, 'semester': 'Six'}, 104: {'sapid': 104, 'name': 'Ayesha', 'age': 20, 'semester': 'Six'}, 105: {'sapid': 105, 'name': 'Bilal', 'age': 23, 'semester': 'Six'}}

After Update:
{101: {'sapid': 101, 'name': 'Ali', 'age': 20, 'semester': 'Seven'}, 102: {'sapid': 102, 'name': 'Ahmed', 'age': 21, 'semester': 'Seven'}, 103: {'sapid': 103, 'name': 'Sara', 'age': 22, 'semester': 'Seven'}, 104: {'sapid': 104, 'name': 'Ayesha', 'age': 20, 'semester': 'Seven'}, 105: {'sapid': 105, 'name': 'Bilal', 'age': 23, 'semester': 'Seven'}}